@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

.Nav-Main-Wrapper{
    background-color: #f8f7fd;
    padding: 2% 4%;
    border-bottom: 2px solid #eeeeef;
}

.Nav-Section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Nav-Menu-Wrapper a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-inline: 20px;
}

.Nav-Button-Wrapper button{
    outline: none;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;;
}

#Signin{
    background: transparent;
    color: #043ddb;
    margin-right: 10px;
}

#Signup{
    background: #023edc;
    color: #fcfcff;
}